.catalogsearch-advanced-index {
    .page-title-wrapper {
        .page-title {
            .base {
                font-weigth: bold;
                color: rgb(20, 219, 139);
                font-family:Arial, Helvetica, sans-serif;
            }
        }
    }
}